// CONTAINERS WIDTH
$pageWrapperWidth: 1440px;

//FONTS
$baseFont: "Roboto", sans-serif;

// FONT-SIZE
$fontHeadingsDesktop: 42px;
$fontParagraphsDesktop: 16px;
$fontHeadingsMobile: 32px;
$fontParagraphsMobile: 14px;

//COLORS
$fontButtonsColors: rgb(255, 255, 255);
$buttonsBackgrondColors: rgb(227, 193, 176);
